/* Global rules */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    background-color: lightgrey;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-image: url(../images/bg.png);
    background-size: cover;

}


::selection {
    color: #000; 
    background: #f67;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin: auto;
    line-height: 3.5em;
}


.toppic {
    line-height: 6.8em;
    background-image: url(../images/JL.PNG);
    background-size: cover;
}



div.wrapper {
    background-color: rgb(157, 207, 134);
    overflow: auto;
}

p {
    margin: 1em 1em;
}


h2, h3 {
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
    color: red;
    text-align: center;
    padding: 12px 12px;
}

a {
    color:darkcyan;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: darkred;
    font-style: italic;


}



iframe {
    display: block;
    margin: auto;
    width: 100%;
    height: 350px;
}

footer {
    background-color: white;
    clear: both;
    text-align: center;
    padding: 1em;
}

img {
    width: 100%;
    justify-content: space-around;
    padding-top:5%
}

.contact-info {
    border: 2px solid darkcyan;
    background-color: lightyellow;
    display: block;
}

div.gallery {
    border:1px solid black;
}

div.gallery:hover {
    border:1px solid white;
    background-color: lightsalmon;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding:15px;
    text-align:center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float:left;
    width: 24.99%
}



/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    div.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    img.desktop {
        width: 50%;
        float: left;
        margin-right: 1em;
    }
    
    img.tablet, img.phone {
        display: none;
    }
    
    p {
        margin: 1em;
    }
}



/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    div.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    img.tablet {
        width: 50%;
        float: right;
        margin-left: 1em;
    }
    
    img.desktop, img.phone {
        display: none;
    }

    .responsive {
        width:49.99%;
        margin: 6px 0;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    div.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    img.phone {
        width: 100%;
    }
    
    img.desktop, img.tablet {
        display: none;
    }

    div.logo {
        display: none;
    }

    .responsive {
        width:100%
    }

    .toppic {
        line-height: 4em;
    }

    .clearfix:after {
        content: "";
        display:table;
        clear:both;
    }

}